@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 52% 91%;
    --foreground: 220 9% 26%;
    --card: 175 50% 98%;
    --card-foreground: 220 9% 26%;
    --popover: 175 50% 98%;
    --popover-foreground: 220 9% 26%;
    --primary: 174 44% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 30% 85%;
    --secondary-foreground: 220 9% 26%;
    --muted: 175 30% 88%;
    --muted-foreground: 220 9% 40%;
    --accent: 38 100% 62%;
    --accent-foreground: 38 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 175 20% 80%;
    --input: 175 20% 85%;
    --ring: 174 44% 48%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 7% 5%;
    --foreground: 220 11% 94%;
    --card: 210 7% 5%;
    --card-foreground: 220 11% 94%;
    --popover: 210 7% 5%;
    --popover-foreground: 220 11% 94%;
    --primary: 210 65% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 10% 25%;
    --muted-foreground: 175 30% 70%;
    --accent: 38 100% 62%;
    --accent-foreground: 38 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 30%;
    --input: 220 10% 30%;
    --ring: 210 65% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
